<div class="login-card" style="margin-top: 7%; width: 25%;">
    <h1>Log-in</h1><br>
  <form action="/login" method="POST">
    <% if(messages.error){ %>
    <span class="text-red-500 "><%= messages.error %></span>
    <% } %>
    <input name="email" type="text" name="user" placeholder="Email">
    <input name="password" type="password" name="pass" placeholder="Password">
    <input type="submit" class="login login-submit" value="Login">
  </form>
    
  <div class="login-help">
    <a href="/register">Register</a> • <a href="#">Forgot Password</a>
  </div>
</div>